language: c
sudo: false
before_install:
  - source <(curl -SLs https://raw.githubusercontent.com/fortyseveneffects/travis-ci-arduino/master/install.sh)
script:
  - build_main_platforms
notifications:
  email: false
